In [150]:
import pandas
titanic = pandas.read_csv("train.csv")
# (titanic.describe())
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [140]:
print(titanic['Age'].median())
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].median())
#(titanic.describe())

28.0

In [141]:
titanic.loc[titanic['Sex'] == 'male','Sex'] = 0
titanic.loc[titanic['Sex'] == 'female','Sex'] = 1
print(titanic['Sex'].unique())

[0 1]

In [142]:
titanic['Embarked'] = titanic['Embarked'].fillna('S')
titanic.loc[titanic['Embarked'] == 'S','Embarked'] = 0
titanic.loc[titanic['Embarked'] == 'C','Embarked'] = 1
titanic.loc[titanic['Embarked'] == 'Q','Embarked'] = 2
print(titanic['Embarked'].unique())

[0 1 2]

In [143]:
# from sklearn.linear_model import LinearRegression

# titanic_test = pandas.read_csv("test.csv")
# titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].median())
# titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic_test["Fare"].median())
# titanic_test.loc[titanic_test["Sex"] == "male", "Sex"] = 0 
# titanic_test.loc[titanic_test["Sex"] == "female", "Sex"] = 1
# titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")

# titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
# titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
# titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2

# titanic_test_result = pandas.read_csv("gender_submission.csv")

# alg = LinearRegression()
# titanic_target_f = titanic["Survived"]

# alg.fit(titanic[predictors], titanic_target_f)
# prediction_final = alg.predict(titanic_test[predictors])
# accuracy_final = sum(prediction_final == titanic_test_result["Survived"]) / len(prediction_final)
# print(accuracy)

In [144]:
# cross validation on linear regression model

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize algorithm class
alg = LinearRegression()
kf = KFold(n_splits=3)

predictions = []
for train, test in kf.split(titanic):
    train_predictors = (titanic[predictors].iloc[train,:])
    train_target = titanic["Survived"].iloc[train]
    alg.fit(train_predictors, train_target)
    test_predictions = alg.predict(titanic[predictors].iloc[test,:])
    predictions.append(test_predictions)
    #print(train_target)

In [145]:
import numpy as np

predictions = np.concatenate(predictions, axis=0)

predictions[predictions > .5] = 1
predictions[predictions <=.5] = 0
accuracy = sum(predictions == titanic["Survived"]) / len(predictions)
print(accuracy)

0.7833894500561167

In [146]:
titanic_test = pandas.read_csv("test.csv")
titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].median())
titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic_test["Fare"].median())
titanic_test.loc[titanic_test["Sex"] == "male", "Sex"] = 0 
titanic_test.loc[titanic_test["Sex"] == "female", "Sex"] = 1
titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")

titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2

In [147]:
# cross validation on logistic regeression model

from sklearn.model_selection import cross_validate
from sklearn.linear_model import LogisticRegression
# Initialize our algorithm
alg = LogisticRegression(random_state=1)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
scores = cross_validate(alg, titanic[predictors], titanic["Survived"], cv=3)
# Take the mean of the scores (because we have one for each fold)
print(scores['test_score'].mean())

0.7878787878787877

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [148]:
# random forest using cross validate

from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestClassifier

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize our algorithm with the default paramters
# n_estimators is the number of trees we want to make
# min_samples_split is the minimum number of rows we need to make a split
# min_samples_leaf is the minimum number of samples we can have at the place where a tree branch ends (the bottom points of the tree)
alg = RandomForestClassifier(random_state=1, n_estimators=52, min_samples_split=4, min_samples_leaf=2)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
# kf = cross_validation.KFold(titanic.shape[0], n_folds=3, random_state=1)
scores = cross_validate(alg, titanic[predictors], titanic["Survived"], cv=3)

# Take the mean of the scores (because we have one for each fold)
print(scores['test_score'].mean())

0.8260381593714926